
@{
    ViewBag.Title = "Index";
}

<main>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" onclick="showContent('content1')">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="showContent('content2')">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" onclick="showContent('content3')">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
</main>

<div id="content1" class="tab-content">
    <p>This is the content for Active tab.</p>
</div>

<div id="content2" class="tab-content">
    <p>This is the content for Link tab 1.</p>
</div>

<div id="content3" class="tab-content">
    <p>This is the content for Link tab 2.</p>
</div>

<script>
    function showContent(contentId) {
        // Ẩn tất cả các nội dung
        var contents = document.getElementsByClassName('tab-content');
        for (var i = 0; i < contents.length; i++) {
            contents[i].style.display = 'none';
        }

        // Hiển thị nội dung tương ứng với tab được chọn
        document.getElementById(contentId).style.display = 'block';
    }
</script>